.containerHeader {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    z-index: 10;
    padding: 0;
}

.containerHeader li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.containerHeader li a {
    text-decoration: none;
}

.containerHeader a {
    color: black;
}